<header>
  Lorem, ipsum.

  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia ipsam amet error? Blanditiis voluptate laudantium, debitis dolore, exercitationem reiciendis quidem eius sunt neque, veritatis natus enim optio omnis impedit possimus.
  <nav>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. At facere fugit minima maiores distinctio maxime aliquam? Fugiat ea officia saepe adipisci, maxime reiciendis similique distinctio tempora dicta doloremque non magni?
  </nav>
</header>